html, body {
    width: 100%;
    height: 100%;
}

#header {
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 20px;
}

#application {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tile {
    width: 22vw;
}

.tile-empty {
    width: 11vw;
}

.tile .tile-image {
    width: 22vw;
}

.tile .tile-empty {
    width: 0;
}